# Business understanding 
## Real world problem: How to increase property value for homeowners? 
### Who are the stakeholders? Homeowners 

#### This notebook should show how to increase proeprty value, by adding bathrooms and increasing the square foot living space.

In [1]:
# import libraries
import statsmodels.api as sm
import pandas as pd
import numpy as np
import os  
import matplotlib.pyplot as plt
import seaborn as sns


import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
# Construct the absolute file path to your dataset
file_path = os.path.join(os.path.expanduser("~"), "Desktop", "flatiorn", "project2", "kc_house_data.csv")

# Read the CSV file and store it as a DataFrame
df = pd.read_csv(file_path)

# Review first 5 data 
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King County Housing Data Description</title>
</head>
<body>

<h1>Data Description for King County Housing Dataset</h1>

<table border="1">
    <tr>
        <th>Column</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>id</td>
        <td>Unique identifier for a house</td>
    </tr>
    <tr>
        <td>date</td>
        <td>Date the house was sold</td>
    </tr>
    <tr>
        <td>price</td>
        <td>Sale price (prediction target)</td>
    </tr>
    <tr>
        <td>bedrooms</td>
        <td>Number of bedrooms</td>
    </tr>
    <tr>
        <td>bathrooms</td>
        <td>Number of bathrooms</td>
    </tr>
    <tr>
        <td>sqft_living</td>
        <td>Square footage of living space in the home</td>
    </tr>
    <tr>
        <td>sqft_lot</td>
        <td>Square footage of the lot</td>
    </tr>
    <tr>
        <td>floors</td>
        <td>Number of floors (levels) in the house</td>
    </tr>
    <tr>
        <td>waterfront</td>
        <td>Whether the house is on a waterfront</td>
    </tr>
    <tr>
        <td>greenbelt</td>
        <td>Whether the house is adjacent to a green belt</td>
    </tr>
    <tr>
        <td>nuisance</td>
        <td>Whether the house has traffic noise or other recorded nuisances</td>
    </tr>
    <tr>
        <td>view</td>
        <td>Quality of view from the house</td>
    </tr>
    <tr>
        <td>condition</td>
        <td>Overall condition of the house (related to maintenance)</td>
    </tr>
    <tr>
        <td>grade</td>
        <td>Overall grade of the house (related to construction and design)</td>
    </tr>
    <tr>
        <td>heat_source</td>
        <td>Heat source for the house</td>
    </tr>
    <tr>
        <td>sewer_system</td>
        <td>Sewer system for the house</td>
    </tr>
    <tr>
        <td>sqft_above</td>
        <td>Square footage of the house apart from the basement</td>
    </tr>
    <tr>
        <td>sqft_basement</td>
        <td>Square footage of the basement</td>
    </tr>
    <tr>
        <td>sqft_garage</td>
        <td>Square footage of garage space</td>
    </tr>
    <tr>
        <td>sqft_patio</td>
        <td>Square footage of outdoor porch or deck space</td>
    </tr>
    <tr>
        <td>yr_built</td>
        <td>Year when the house was built</td>
    </tr>
    <tr>
        <td>yr_renovated</td>
        <td>Year when the house was renovated</td>
    </tr>
    <tr>
        <td>address</td>
        <td>Street address</td>
    </tr>
</table>

</body>
</html>

In [3]:
#descriptive statistics
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,lat,long
count,3.015500e+04,3.015500e+04,30155.000000,30155.000000,30155.000000,3.015500e+04,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000
mean,4.538104e+09,1.108536e+06,3.413530,2.334737,2112.424739,1.672360e+04,1.543492,1809.826098,476.039396,330.211142,217.412038,1975.163953,90.922301,47.328076,-121.317397
std,2.882587e+09,8.963857e+05,0.981612,0.889556,974.044318,6.038260e+04,0.567717,878.306131,579.631302,285.770536,245.302792,32.067362,416.473038,1.434005,5.725475
min,1.000055e+06,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,21.274240,-157.791480
25%,2.064175e+09,6.480000e+05,3.000000,2.000000,1420.000000,4.850000e+03,1.000000,1180.000000,0.000000,0.000000,40.000000,1953.000000,0.000000,47.405320,-122.326045
50%,3.874011e+09,8.600000e+05,3.000000,2.500000,1920.000000,7.480000e+03,1.500000,1560.000000,0.000000,400.000000,150.000000,1977.000000,0.000000,47.551380,-122.225585
75%,7.287100e+09,1.300000e+06,4.000000,3.000000,2619.500000,1.057900e+04,2.000000,2270.000000,940.000000,510.000000,320.000000,2003.000000,0.000000,47.669913,-122.116205
max,9.904000e+09,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000,64.824070,-70.074340

In [4]:
#display all columns 
pd.set_option('display.max_columns', None)

# Display all columns in the DataFrame
print(df)

               id        date      price  bedrooms  bathrooms  sqft_living  \
0      7399300360   5/24/2022   675000.0         4        1.0         1180
1      8910500230  12/13/2021   920000.0         5        2.5         2770
2      1180000275   9/29/2021   311000.0         6        2.0         2880
3      1604601802  12/14/2021   775000.0         3        3.0         2160
4      8562780790   8/24/2021   592500.0         2        2.0         1120
...           ...         ...        ...       ...        ...          ...
30150  7834800180  11/30/2021  1555000.0         5        2.0         1910
30151   194000695   6/16/2021  1313000.0         3        2.0         2020
30152  7960100080   5/27/2022   800000.0         3        2.0         1620
30153  2781280080   2/24/2022   775000.0         3        2.5         2570
30154  9557800100   4/29/2022   500000.0         3        1.5         1200

       sqft_lot  floors waterfront greenbelt nuisance     view condition  \
0          7140     1.0         NO        NO       NO     NONE      Good
1          6703     1.0         NO        NO      YES  AVERAGE   Average
2          6156     1.0         NO        NO       NO  AVERAGE   Average
3          1400     2.0         NO        NO       NO  AVERAGE   Average
4           758     2.0         NO        NO      YES     NONE   Average
...         ...     ...        ...       ...      ...      ...       ...
30150      4000     1.5         NO        NO       NO     NONE      Good
30151      5800     2.0         NO        NO       NO     FAIR   Average
30152      3600     1.0         NO        NO      YES     NONE   Average
30153      2889     2.0         NO        NO       NO     NONE   Average
30154     11058     1.0         NO        NO       NO     NONE   Average

           grade  heat_source sewer_system  sqft_above  sqft_basement  \
0      7 Average          Gas       PUBLIC        1180              0
1      7 Average          Oil       PUBLIC        1570           1570
2      7 Average          Gas       PUBLIC        1580           1580
3       9 Better          Gas       PUBLIC        1090           1070
4      7 Average  Electricity       PUBLIC        1120            550
...          ...          ...          ...         ...            ...
30150     8 Good          Oil       PUBLIC        1600           1130
30151  7 Average          Gas       PUBLIC        2020              0
30152  7 Average          Gas       PUBLIC         940            920
30153     8 Good          Gas       PUBLIC        1830            740
30154  7 Average          Oil       PUBLIC        1200              0

       sqft_garage  sqft_patio  yr_built  yr_renovated  \
0                0          40      1969             0
1                0         240      1950             0
2                0           0      1956             0
3              200         270      2010             0
4              550          30      2012             0
...            ...         ...       ...           ...
30150            0         210      1921             0
30151            0         520      2011             0
30152          240         110      1995             0
30153          480         100      2006             0
30154          420           0      1965             0

                                                 address        lat       long
0      2102 Southeast 21st Court, Renton, Washington ...  47.461975 -122.19052
1      11231 Greenwood Avenue North, Seattle, Washing...  47.711525 -122.35591
2      8504 South 113th Street, Seattle, Washington 9...  47.502045 -122.22520
3      4079 Letitia Avenue South, Seattle, Washington...  47.566110 -122.29020
4      2193 Northwest Talus Drive, Issaquah, Washingt...  47.532470 -122.07188
...                                                  ...        ...        ...
30150  4673 Eastern Avenue North, Seattle, Washington...  47.664740 -122.32940
30151  4131 44th Avenue Southwest, Seattle, Washingto...  47.565610 -122.38851
30152  910 Martin Luther King Jr Way, Seattle, Washin...  47.610395 -122.29585
30153  17127 114th Avenue Southeast, Renton, Washingt...  47.449490 -122.18908
30154  18615 7th Avenue South, Burien, Washington 981...  47.435840 -122.32634

[30155 rows x 25 columns]

# Cleaning the data

## In order to properly interpert the data, removal of missing data and duplicates is needed.

In [5]:
# 1. Handling Missing Values
df_cleaned = df.dropna()  # Drop rows with missing values
# 2. Handling Duplicates
df_cleaned = df_cleaned.drop_duplicates()  # Remove duplicate rows

In [6]:
#display all columns and check if missing values were removed
pd.set_option('display.max_columns', None)

# Display all columns in the DataFrame
print(df_cleaned)

               id        date      price  bedrooms  bathrooms  sqft_living  \
0      7399300360   5/24/2022   675000.0         4        1.0         1180
1      8910500230  12/13/2021   920000.0         5        2.5         2770
2      1180000275   9/29/2021   311000.0         6        2.0         2880
3      1604601802  12/14/2021   775000.0         3        3.0         2160
4      8562780790   8/24/2021   592500.0         2        2.0         1120
...           ...         ...        ...       ...        ...          ...
30150  7834800180  11/30/2021  1555000.0         5        2.0         1910
30151   194000695   6/16/2021  1313000.0         3        2.0         2020
30152  7960100080   5/27/2022   800000.0         3        2.0         1620
30153  2781280080   2/24/2022   775000.0         3        2.5         2570
30154  9557800100   4/29/2022   500000.0         3        1.5         1200

       sqft_lot  floors waterfront greenbelt nuisance     view condition  \
0          7140     1.0         NO        NO       NO     NONE      Good
1          6703     1.0         NO        NO      YES  AVERAGE   Average
2          6156     1.0         NO        NO       NO  AVERAGE   Average
3          1400     2.0         NO        NO       NO  AVERAGE   Average
4           758     2.0         NO        NO      YES     NONE   Average
...         ...     ...        ...       ...      ...      ...       ...
30150      4000     1.5         NO        NO       NO     NONE      Good
30151      5800     2.0         NO        NO       NO     FAIR   Average
30152      3600     1.0         NO        NO      YES     NONE   Average
30153      2889     2.0         NO        NO       NO     NONE   Average
30154     11058     1.0         NO        NO       NO     NONE   Average

           grade  heat_source sewer_system  sqft_above  sqft_basement  \
0      7 Average          Gas       PUBLIC        1180              0
1      7 Average          Oil       PUBLIC        1570           1570
2      7 Average          Gas       PUBLIC        1580           1580
3       9 Better          Gas       PUBLIC        1090           1070
4      7 Average  Electricity       PUBLIC        1120            550
...          ...          ...          ...         ...            ...
30150     8 Good          Oil       PUBLIC        1600           1130
30151  7 Average          Gas       PUBLIC        2020              0
30152  7 Average          Gas       PUBLIC         940            920
30153     8 Good          Gas       PUBLIC        1830            740
30154  7 Average          Oil       PUBLIC        1200              0

       sqft_garage  sqft_patio  yr_built  yr_renovated  \
0                0          40      1969             0
1                0         240      1950             0
2                0           0      1956             0
3              200         270      2010             0
4              550          30      2012             0
...            ...         ...       ...           ...
30150            0         210      1921             0
30151            0         520      2011             0
30152          240         110      1995             0
30153          480         100      2006             0
30154          420           0      1965             0

                                                 address        lat       long
0      2102 Southeast 21st Court, Renton, Washington ...  47.461975 -122.19052
1      11231 Greenwood Avenue North, Seattle, Washing...  47.711525 -122.35591
2      8504 South 113th Street, Seattle, Washington 9...  47.502045 -122.22520
3      4079 Letitia Avenue South, Seattle, Washington...  47.566110 -122.29020
4      2193 Northwest Talus Drive, Issaquah, Washingt...  47.532470 -122.07188
...                                                  ...        ...        ...
30150  4673 Eastern Avenue North, Seattle, Washington...  47.664740 -122.32940
30151  4131 44th Avenue Southwest, Seattle, Washingto...  47.565610 -122.38851
30152  910 Martin Luther King Jr Way, Seattle, Washin...  47.610395 -122.29585
30153  17127 114th Avenue Southeast, Renton, Washingt...  47.449490 -122.18908
30154  18615 7th Avenue South, Burien, Washington 981...  47.435840 -122.32634

[30110 rows x 25 columns]

# Removal of uncessary columns 
## In this situation it was important to remove certain variables to better interpret the data. Some reasons for removing these columns included the lack of control the homewoner has on the variable. For instance the homeowner cannot change the address, latitude, logntude, or the year built, ect.

In [7]:
# List of columns to remove
columns_to_remove = ['address','waterfront','greenbelt','sewer_system','grade','lat', 'long','date', 'nuisance','view', 'sqft_above', 'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built', 'yr_renovated']

# Drop the columns from the DataFrame
df_cleaned = df_cleaned.drop(columns=columns_to_remove)

# Display the first few rows of the resulting DataFrame
print(df_cleaned.head())

           id     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7399300360  675000.0         4        1.0         1180      7140     1.0
1  8910500230  920000.0         5        2.5         2770      6703     1.0
2  1180000275  311000.0         6        2.0         2880      6156     1.0
3  1604601802  775000.0         3        3.0         2160      1400     2.0
4  8562780790  592500.0         2        2.0         1120       758     2.0

  condition  heat_source
0      Good          Gas
1   Average          Oil
2   Average          Gas
3   Average          Gas
4   Average  Electricity

# Making Categorical Data Interpretable 
## It is necessary to create dumie variables inorder to interpreate the results of catagorical data and its impacts on price.

In [8]:
#  Encoding Categorical Variables
df_cleaned = pd.get_dummies(df_cleaned, columns=['condition', 'heat_source'])

In [9]:
#checking to see if dummie variables were encoded for categorical Variables
# 3. Encoding Categorical Variables
print(df_cleaned)

               id      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0      7399300360   675000.0         4        1.0         1180      7140
1      8910500230   920000.0         5        2.5         2770      6703
2      1180000275   311000.0         6        2.0         2880      6156
3      1604601802   775000.0         3        3.0         2160      1400
4      8562780790   592500.0         2        2.0         1120       758
...           ...        ...       ...        ...          ...       ...
30150  7834800180  1555000.0         5        2.0         1910      4000
30151   194000695  1313000.0         3        2.0         2020      5800
30152  7960100080   800000.0         3        2.0         1620      3600
30153  2781280080   775000.0         3        2.5         2570      2889
30154  9557800100   500000.0         3        1.5         1200     11058

       floors  condition_Average  condition_Fair  condition_Good  \
0         1.0                  0               0               1
1         1.0                  1               0               0
2         1.0                  1               0               0
3         2.0                  1               0               0
4         2.0                  1               0               0
...       ...                ...             ...             ...
30150     1.5                  0               0               1
30151     2.0                  1               0               0
30152     1.0                  1               0               0
30153     2.0                  1               0               0
30154     1.0                  1               0               0

       condition_Poor  condition_Very Good  heat_source_Electricity  \
0                   0                    0                        0
1                   0                    0                        0
2                   0                    0                        0
3                   0                    0                        0
4                   0                    0                        1
...               ...                  ...                      ...
30150               0                    0                        0
30151               0                    0                        0
30152               0                    0                        0
30153               0                    0                        0
30154               0                    0                        0

       heat_source_Electricity/Solar  heat_source_Gas  heat_source_Gas/Solar  \
0                                  0                1                      0
1                                  0                0                      0
2                                  0                1                      0
3                                  0                1                      0
4                                  0                0                      0
...                              ...              ...                    ...
30150                              0                0                      0
30151                              0                1                      0
30152                              0                1                      0
30153                              0                1                      0
30154                              0                0                      0

       heat_source_Oil  heat_source_Oil/Solar  heat_source_Other
0                    0                      0                  0
1                    1                      0                  0
2                    0                      0                  0
3                    0                      0                  0
4                    0                      0                  0
...                ...                    ...                ...
30150                1                      0                  0
30151                0                      0                  0
30152                0                      0                  0
30153                0                      0                  0
30154                1                      0                  0

[30110 rows x 19 columns]

In [10]:
# Display the column names in your DataFrame
print(df_cleaned.columns)

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'condition_Average', 'condition_Fair', 'condition_Good',
       'condition_Poor', 'condition_Very Good', 'heat_source_Electricity',
       'heat_source_Electricity/Solar', 'heat_source_Gas',
       'heat_source_Gas/Solar', 'heat_source_Oil', 'heat_source_Oil/Solar',
       'heat_source_Other'],
      dtype='object')

# Using StatsModels for Multiple Linear Regression

In [12]:
# Price is the target variable
target_variable = 'price'

# Create predictors
predictors = df_cleaned.drop([target_variable], axis=1)

# Create model intercept
predictors_int = sm.add_constant(predictors)

# Fit multiple linear regression model to data
model = sm.OLS(df_cleaned[target_variable], predictors_int).fit()

# Print model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.392
Model:                            OLS   Adj. R-squared:                  0.391
Method:                 Least Squares   F-statistic:                     1212.
Date:                Sun, 14 Jan 2024   Prob (F-statistic):               0.00
Time:                        13:55:14   Log-Likelihood:            -4.4793e+05
No. Observations:               30110   AIC:                         8.959e+05
Df Residuals:                   30093   BIC:                         8.960e+05
Df Model:                          16
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                          2.025e+05   4.69e+04      4.315      0.000    1.11e+05    2.95e+05
id                            -4.218e-06   1.41e-06     -2.986      0.003   -6.99e-06   -1.45e-06
bedrooms                      -1.691e+05   5539.636    -30.520      0.000    -1.8e+05   -1.58e+05
bathrooms                      8.931e+04   7796.991     11.455      0.000     7.4e+04    1.05e+05
sqft_living                     616.3822      7.167     85.998      0.000     602.334     630.431
sqft_lot                         -0.0109      0.069     -0.157      0.875      -0.147       0.125
floors                        -2.065e+04   8319.063     -2.482      0.013    -3.7e+04   -4340.302
condition_Average             -1707.3726   2.04e+04     -0.084      0.933   -4.17e+04    3.83e+04
condition_Fair                 2.747e+04   4.26e+04      0.644      0.519   -5.61e+04    1.11e+05
condition_Good                  3.81e+04   2.06e+04      1.849      0.065   -2297.984    7.85e+04
condition_Poor                  3.17e+04   7.54e+04      0.421      0.674   -1.16e+05    1.79e+05
condition_Very Good             1.07e+05    2.2e+04      4.855      0.000    6.38e+04     1.5e+05
heat_source_Electricity         947.1202   5.18e+04      0.018      0.985   -1.01e+05    1.02e+05
heat_source_Electricity/Solar -8.179e+04   9.39e+04     -0.871      0.384   -2.66e+05    1.02e+05
heat_source_Gas               -9384.7113   5.15e+04     -0.182      0.855    -1.1e+05    9.16e+04
heat_source_Gas/Solar          2.381e+05    8.1e+04      2.939      0.003    7.93e+04    3.97e+05
heat_source_Oil                8.738e+04   5.25e+04      1.664      0.096   -1.55e+04     1.9e+05
heat_source_Oil/Solar         -1.132e+05   3.06e+05     -0.370      0.712   -7.13e+05    4.87e+05
heat_source_Other              8.047e+04   1.45e+05      0.557      0.578   -2.03e+05    3.64e+05
==============================================================================
Omnibus:                    43122.583   Durbin-Watson:                   1.855
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         46985590.136
Skew:                           8.090   Prob(JB):                         0.00
Kurtosis:                     195.845   Cond. No.                     6.72e+25
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.93e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [13]:
# view model coefficients
model.params

const                            202523.679515
id                                   -0.000004
bedrooms                        -169069.205683
bathrooms                         89312.342324
sqft_living                         616.382161
sqft_lot                             -0.010877
floors                           -20646.021097
condition_Average                 -1707.372573
condition_Fair                    27471.194071
condition_Good                    38101.001639
condition_Poor                    31702.636965
condition_Very Good              106956.219412
heat_source_Electricity             947.120189
heat_source_Electricity/Solar    -81792.469364
heat_source_Gas                   -9384.711323
heat_source_Gas/Solar            238066.092320
heat_source_Oil                   87375.694260
heat_source_Oil/Solar           -113162.718785
heat_source_Other                 80474.672218
dtype: float64

# Working with only statistically insignificant data
## Data with p values <.05

In [14]:
# Filter coefficients based on p-values
significant_vars = model.params[model.pvalues < 0.05]

# Display coefficients of significant variables
print(significant_vars)

const                    202523.679515
id                           -0.000004
bedrooms                -169069.205683
bathrooms                 89312.342324
sqft_living                 616.382161
floors                   -20646.021097
condition_Very Good      106956.219412
heat_source_Gas/Solar    238066.092320
dtype: float64

In [ ]:
# Replace the 'price' column in sigval_df with the correct values
sigval_df['price'] = df_cleaned['price']

# Display the head of the new DataFrame
print(sigval_df.head())

In [ ]:
sigval_df['price'] = pd.to_numeric(sigval_df['price'], errors='coerce')
print(sigval_df['price'].dtype)

In [ ]:
# Convert 'price' column to numeric, coercing errors to NaN
sigval_df['price'] = pd.to_numeric(sigval_df['price'], errors='coerce')

# Drop rows with NaN values in 'price' column
sigval_df = sigval_df.dropna(subset=['price'])

# Create predictors
predictors_sigval = sigval_df.drop([target_variable], axis=1)

# Create model intercept
predictors_int_sigval = sm.add_constant(predictors_sigval)

# Fit multiple linear regression model to data
model_sigval = sm.OLS(sigval_df['price'], predictors_int_sigval).fit()

# Print model summary
print(model_sigval.summary())

In [ ]:
# Check data types in the 'price' column
print(sigval_df['price'].dtype)

In [ ]:
# Display unique values in the 'price' column
print(sigval_df['price'].value_counts())

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

coeff_sorted = coeff.iloc[(coeff.abs()*-1.0).argsort()]

# Create a horizontal bar chart with Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(x=coeff_sorted.values, y=coeff_sorted.index, orient='h', palette=['green' if x > 0 else 'red' for x in coeff_sorted.values])

# Add labels and title
plt.xlabel('Estimated Value $USD')
plt.title('Impact of Home Features on Property Price')


plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm

# create model intercept
predictors_int = sm.add_constant(predictors)

# fit model to data
model = sm.OLS(df_cleaned['price'], predictors_int).fit()

# Get the coefficients excluding the intercept
coeff = model.params[1:]

# Sort the coefficients for the bar chart
coeff_sorted = coeff.iloc[(coeff.abs()*-1.0).argsort()]

# Create a horizontal bar chart with Seaborn
plt.figure(figsize=(10, 6))
sns.barplot(x=coeff_sorted.values, y=coeff_sorted.index, orient='h', palette=['green' if x > 0 else 'red' for x in coeff_sorted.values])

# Add labels and title
plt.xlabel('Estimated Value $USD')
plt.title('Impact of Home Features on Property Price')

plt.show()

In [ ]:
# view model coefficients
coeff = model.params[1:]
print(coeff)

In [ ]:
# view results of model
model.summary()

In [ ]:
# Assuming 'model' is your fitted linear regression model
significant_columns = model.pvalues[model.pvalues <= 0.05].index

# Exclude 'const' from significant columns (if it exists)
significant_columns = [col for col in significant_columns if col != 'const']

# Filter your DataFrame to keep only significant columns
df_significant = df_cleaned[significant_columns]

# Display the first few rows of the resulting DataFrame
print(df_significant.head())

In [ ]:
import statsmodels.api as sm

# Assuming 'price' is your target variable
target_variable = df_cleaned['price']

# Create predictors using the new significant columns
# Make sure 'price' is included in the significant columns
predictors_significant = df_significant.drop('price', axis=1, errors='ignore')

# Add a constant term to the predictors
predictors_significant_int = sm.add_constant(predictors_significant)

# Fit the linear regression model
model_significant = sm.OLS(target_variable, predictors_significant_int).fit()

# Display the summary
print(model_significant.summary())

In [ ]:
# Display the summary for the new model with additional information
model_significant.summary()

In [ ]:

bathrooms_breakdown = df_cleaned['bathrooms'].value_counts()

# Display the breakdown
print("Number of Bathrooms Breakdown:")
print(bathrooms_breakdown)

In [ ]:

df_cleaned = df_cleaned[df_cleaned['bathrooms'] >= 1]

# Display the DataFrame after removing rows with "bathrooms" less than 1
print(df_cleaned)

In [ ]:
bathrooms_breakdown = df_cleaned['bathrooms'].value_counts()
print(df_cleaned)

In [ ]:
# Assuming model_significant was fitted using df_cleaned
bathrooms_breakdown = df_cleaned['bathrooms'].value_counts()

# Display the breakdown
print("Number of Bathrooms Breakdown:")
print(bathrooms_breakdown)

In [ ]:
sm.graphics.plot_fit(model_significant, "bathrooms")
plt.show()

In [ ]:
from scipy import stats

# Identify and remove outliers based on Z-scores
z_scores = stats.zscore(df_cleaned['bathrooms'])
outliers = (z_scores > 3) | (z_scores < -3)
df_no_outliers = df_cleaned[~outliers]

# Fit the regression model using the cleaned data
model_no_outliers = sm.OLS(df_no_outliers['price'], sm.add_constant(df_no_outliers.drop(['price'], axis=1))).fit()

# Plot the fit after handling outliers
sm.graphics.plot_fit(model_no_outliers, "bathrooms")
plt.show()

In [ ]:
sm.graphics.plot_fit(model_significant, "sqft_living")
plt.show()

In [ ]:
sm.graphics.plot_fit(model_significant, "sqft_living")
plt.show()

In [ ]:
fig = plt.figure(figsize=(10, 5))
sm.graphics.plot_partregress_grid(model_no_outliers, exog_idx=["bathrooms", "sqft_living"], fig=fig)
plt.tight_layout()
plt.show()

In [ ]:
sns.set(style="whitegrid")
# Create subplots
fig, axes = plt.subplots(1, 2, figsize=(15, 5))
# Partial regression plot for "bathrooms"
sns.regplot(x="bathrooms", y="price", data=df_cleaned, ax=axes[0])
axes[0].set_xlabel("Number of Bathrooms")
# Partial regression plot for "sqft_living"
sns.regplot(x="sqft_living", y="price", data=df_cleaned, ax=axes[1])
axes[1].set_xlabel("Sqft Living")

plt.tight_layout()
plt.show()

In [ ]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

# Assuming X_second and y are your feature matrix and target variable
# Assuming sklearn_second_model is your scikit-learn linear regression model

# Fit the StatsModels model
X_second_with_intercept = sm.add_constant(X_second)
second_results = sm.OLS(y, X_second_with_intercept).fit()

# Fit the scikit-learn model
sklearn_second_model = LinearRegression()
sklearn_second_model.fit(X_second, y)

# Print the results
print(f"""
StatsModels R-Squared:    {second_results.rsquared}
scikit-learn R-Squared:   {sklearn_second_model.score(X_second, y)}

StatsModels intercept:     {second_results.params["const"]}
scikit-learn intercept:    {sklearn_second_model.intercept_}

StatsModels coefficients:  {second_results.params[1:].values}
scikit-learn coefficients: {sklearn_second_model.coef_}
""")